/*table中不同数据背景色的定义*/
:root {
  --hp-bg-color: rgb(242, 243, 248);
  --hp-header-height: 48px;
  --hp-header-bg-color: #ffffff;
  --hp-footer-height: 48px;
  --hp-aside-collapse-width: 60px;
  --hp-aside-width: 240px;
  --hp-aside-bg-color: #101827;
  --hp-aside-text-color: #f1efef;
  --hp-aside-active-color: #ffd04b;
  --hp-aside-active-bg-color: var(--el-color-info);
  --hp-menu-padding: 10px;
  --hp-menu-item-height: 42px;
  //---------
  --table-current-color: #c5c8ca;
  --table-hover-color: #e7e8e9;
  --card-header-background-color: #eeeff0;
  --status-near-expiration-color: #f4c4c4;
  background-color: var(--hp-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;;
  //--font-family: Poppins, "Open Sans", "Microsoft YaHei", "Ping Fang SC", Helvetica, Arial, sans-serif;
  //--el-font-family: var(--font-family) !important;
  //--vxe-ui-font-family: var(--font-family) !important;
}

body {
  margin: 0;
}


